.conteiner {
    display: flex;
    flex-direction: column;
    background: rgb(130, 133, 133);
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 1em;
    height: 380px;
}

.wrapImgBtn {
    position: relative;
    display: inline-block;
}

.imagen {
    border-radius: 10px 10px 0px 0px;
    width: 280px;
}

.buttonClose {
    position: absolute;
    right: 8px;
    top: 5px;
    border-radius: 3px;
    opacity: 0.6;
}

.buttonClose:hover {
    cursor: pointer;
    right: 7px;
    height: 25px;
    width: 30px;
}

.buttonFav {
    position: absolute;
    right: 5px;
    top: 35px;
    background: rgb(219, 221, 221);
    opacity: 0.8;
    cursor: pointer;
    color: blue;
    border: none;
}

.buttonFav:hover {
    cursor: pointer;
    height: 27px;
    width: 34px;
    /* box-shadow: -2px -2px 0 rgb(109, 109, 109), 2px 2px 0 rgb(48, 48, 48); */
    border-top: 2px solid rgb(109, 109, 109);
    border-left: 2px solid rgb(109, 109, 109);
    border-bottom: 2px solid rgb(48, 48, 48);
    border-right: 2px solid rgb(48, 48, 48);
}

.name {
    background-color: rgb(210, 206, 74);
    opacity: 0.6;
    position: absolute;
    left: 15px;
    bottom: 0px;
    border-radius: 3px;
    padding: 0 20px;
}

.id {
    background-color: rgb(210, 206, 74);
    opacity: 0.6;
    position: absolute;
    left: 15px;
    bottom: 30px;
    border-radius: 3px;
    padding: 0 20px;
}

.property {
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}